<?xml version="1.0"?>
<restrictionsConfig>
  <rules>
    <rule name="rootSingletonDocument" errorMessage="You can't create more than one instance of this document at the root level">
      <add docTypeAlias="globalConfiguration" />
    </rule>
    <rule name="onlyChildDocument" errorMessage="You can't create more than one instance of this document at that level">
      <add docTypeAlias="LandingPage" />
    </rule>
    <rule name="leastOnceDocumentRoot" errorMessage="At least one instance of this document must be published at the root level">
      <add docTypeAlias="globalConfiguration" />
    </rule>
  </rules>
</restrictionsConfig>